/* SearchBar.module.css */

.mainSearchBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 10px;
}

.mainSearchBar input[type='text'] {
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.mainSearchBar button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 4px 10px;
  cursor: pointer;
}

.mainSearchBar label {
  margin-left: 50px;
}

.mainSearchBar select {
  padding: 3px;
}
